<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.5">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <h1>GRC Diner</h1>
    <h2>Serving the GRC Community since 1990</h2>
    <p>We serve the best hamburgers in the universe...</p>
    <img src="images/diner.jpg" alt="Diner Pic">
    <a type="button" class="btn btn-primary">Place an Order</a>
</body>
</html>